body 
{
  background-color: white;
}

h2 
{
  margin-left: 20px;
}

.main-box
 {
  border-color:  #000;
  margin: 20px;
  background-color: #f6f8fc;
}

.header {
  background-color: #222;
  color: white;
  text-align: center;

}

.product-card 
{
  text-align: center;
  background-color: white;
  margin: 20px auto;
  width: 350px;
  border-radius: 8px;
}

.product-card img 
{
  width: 100%;
  border-radius: 5px;
}

.price 
{
  color: green;
  font-weight: bold;
}

.old-price 
{
  text-decoration: line-through;
  color: gray;
  margin-left: 5px;
}

button 
{
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover 
{
  background-color: #0056b3;
}